.range-slider-container {
    padding-top: 40px;
    min-width: var(--musical-range-slider-width, 100px);
}

.range-slider-auxiliary-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}