body {
    background: #111;
}

#root {
    --button-size: min(8.333vw, 40px);
    --musical-range-slider-width: calc(12 * var(--button-size));
}

@media (max-width: 768px) {
    /* Mobile */
}
@media (min-width: 769px) {
}

.App {
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.large-label {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: large;
}

.range-section {
    display: grid;
    grid-template-rows: 2;
}

.chord-button {
    padding: 0;
    height: var(--button-size);
    width: var(--button-size);
}

.button-text {
    display: inline-block;
    line-height: 97%;
}

button {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

button:active {
    background-color: #666;
}