body {
    background: #111;
}

#root {
    --button-size: min(calc(100vw / 12), 40px);
    --musical-range-slider-width: calc(12 * var(--button-size) - 16px);
}

.App {
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.title-bar {
    display: grid;
    grid-template-columns: [start] 1fr [button] auto [end];
    width: var(--musical-range-slider-width);
    margin-top: 3px;
}

.title {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 30px;

    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: 1;
}

.rainbow-button {
    grid-column-start: button;
    grid-column-end: end;
    grid-row-start: 1;
    font-size: 10px;
    background-color: transparent;
}

.large-label {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: large;
}

.chord-name {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 25px;

    /* Setting this to anything prevents the flat symbol from lowering the text. */
    line-height: 1.0;
}

.nothing-playing {
    color: rgb(43, 43, 43);
}

.top-settings {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
    width: var(--musical-range-slider-width);
}

.volume-label {
    text-align: left;
    grid-row-start: 1;
    grid-column-start: 1;
}

.volume-bar {
    grid-row-start: 2;
    grid-column-start: 1;
}

.prefer-sharp-picker {
    grid-row-start: 2;
    grid-column-start: 3;
    align-self: center;
}

.range-section {
    display: grid;
    grid-template-rows: 2;
}

.range-label {
    grid-row-start: 1;
    text-align: left;
}

.range-slider {
    grid-row-start: 2;
}

.chord-button {
    padding: 0;
    height: var(--button-size);
    width: var(--button-size);
}

.chord-button-colorful {
    --button-color: hsl(var(--button-hue), 35%, 60%) ;
    background-color: transparent;
    color: var(--button-color);
    border-color: var(--button-color);
}

.button-text {
    display: inline-block;
    line-height: 97%;
}

button {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}

button:hover {
    background-color: #444;
}

button:active {
    background-color: #666;
}

button.MuiButtonBase-root {
    padding: 5px 10px;
}

svg {
    color: white;
}